<div class="p-3">
  <h2 class="text-center fw-bold text-light my-3">DANH SÁCH DỊCH VỤ</h2>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/create.html?">
        <button class="btn btn-primary btn-outline-secondary btn-sm">
          <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
          <span class="text-light"> Thêm mới dịch vụ</span>
        </button>
      </a>

      <form class="d-flex my-2" role="search" action="">
        <input class="form-control me-2" type="text" placeholder="Nhập tên dịch vụ.." aria-label="Search"
               name="nameSearch">
        <button class="btn btn-light btn-outline-primary" type="submit" name="action" value="search">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>

  <table class="mx-5" id="facilityTable">
    <thead>
    <tr>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        <div class="container mt-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;">
                    <img src="https://www.furama.com/images/FRF_ibe_Executive-Family-Suite.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">EXECUTIVE FAMILY SUITE</h5>
                      <p class="card-text">Diện tích: 85 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 25px">
                    <img src="https://www.furama.com/images/ibe_frf_Executive-Suite.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">EXECUTIVE SUITE</h5>
                      <p class="card-text">Diện tích: 90 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 50px">
                    <img src="https://www.furama.com/images/FRF_ibe-theme_courtyard_club.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">THEME COURTYARD CLUB</h5>
                      <p class="card-text">Diện tích: 100 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="container mt-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;">
                    <img src="https://www.furama.com/images/ibe_Courtyard_Club.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">COURTYARD CLUB</h5>
                      <p class="card-text">Diện tích: 75 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 25px">
                    <img src="https://www.furama.com/images/FRF_studioroom_ibe9.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PREMIER FAMILY ROOM</h5>
                      <p class="card-text">Diện tích: 90 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 50px">
                    <img src="https://www.furama.com/images/ibe_Family.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">FAMILY ROOM</h5>
                      <p class="card-text">Diện tích: 60 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="container mt-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;">
                    <img src="https://www.furama.com/images/ibe_Exec_Club.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">EXECUTIVE CLUB</h5>
                      <p class="card-text">Diện tích: 75 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 25px">
                    <img src="https://www.furama.com/images/FRF_studioroom_ibe14.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">STUDIO CLASSIC</h5>
                      <p class="card-text">Diện tích: 65 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="card" style="width: 25rem;margin-left: 50px">
                    <img src="https://www.furama.com/images/Tropical-Deluxe_IBE.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">DELUXE TROPICAL</h5>
                      <p class="card-text">Diện tích: 85 m<sup>2</sup>.</p>
                      <a href="http://localhost:63342/C0522G1_HuynhTrungThuyen_module5/case_study_angular/facility/edit.html?" class="btn btn-warning me-2">Chỉnh sửa</a>
                      <a href="#" class="btn btn-danger">Xóa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
